@import "~bootstrap/scss/bootstrap";

// Переменные цвета
$main_color:#212529;
$white_color: #fff;

//border
$radius: 5px;

//Шаблоны
%border_color {
  border: 1px solid #08b4e1;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main_color;
  color: $white_color;
  border: none;

  a {
    text-decoration: none;
    color: $white_color;

    &:hover {
      //text-decoration: none;
      color: $white_color;
    }
  }
}

.white_text {
  color: $white_color;
}

.hidden {
  display: none !important;
}

.button_back:focus {
  box-shadow:none;
}

input[type="text"]:focus, .button_back:hover {
  outline: none !important;
  border-color: transparent;
  box-shadow: 0 0 12px 1px rgb(25 184 218);
  transition: 0.3s all;
}



input[type="text"], .button_back {
  color: $white_color !important;
  @extend %border_color;
}


.dark-theme, .dark-theme:focus {
  background-color: $main_color;
}

.button_x {
  font-weight: 900;
  color: inherit;
  background-color: transparent;
  border: none;
  float: right;
}

.movie {
  width: 300px;
  box-shadow: 0 0 6px 0 #000;
  position: relative;
  overflow: hidden;
  background-color: inherit;
  transition: transform 0.3s ease-in-out;


  .overview {
    position: absolute;
    background-color: #1cb8d8;
    color: $main_color;
    bottom: -1px;
    left: 0;
    right: 0;
    padding: 6px;
    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;
    max-height: 100%;
    text-align: center;
    font-size: 14px;
  }
}


.movie img, .inside-movie {
  padding: 0;
  width: 300px;
  //height: 450px;
  object-fit: cover;
}

.inside-movie_margin {
  margin-left: 10px;
}

.movie_info {
  background-color: $white_color;
  color: $main_color;
}

.movie:hover{
  box-shadow: 0 0 12px 1px #000;
  transform: scale(1.05);
}

.movie:hover .overview {
  transform: translateY(0%);
}

.bg_vote {
  display: flex;
  justify-content: center;
  background-color: #131a24;
  padding:5px;
  border-radius:5px;
  font-weight: bold;
  margin-left: 10px;
  width: 32px;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

//.about_movie {
//  display: flex;
//  flex-direction: column;
//  align-items: flex-start;
//  flex-wrap: wrap;
//}

.text_movie {
  font-size: 14px;
}

.genre {
  padding-right: 5px;
}

.movie_card {
  background-color: #30343b;
  @extend %border_color;
  min-width: 280px;
}

.video-container {
  height:0;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trailer_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trailer_display {
  width: 600px;
  margin: 10px auto;
}

.display_hide {
  display: none;
}

.display_show {
  display: block;

}

.slider_img {
  object-fit: cover;
  object-position: right;

}

.carousel_title {
  font-size: inherit;
}

@media screen and (min-width: 801px) {
  .carousel_height {
    height: 400px;
  }
  //.inside-movie {
  //  width: 300px;
  //}

}

@media screen and (max-width: 800px) {
  .carousel_height {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .carousel_height {
    height: 180px;
  }
  .inside-movie_margin {
    margin-left: 0;
  }
}

.modal_window {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}


.modal_content {
  padding: 10px;
  border-radius: 12px;
  background-color: $main_color;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 75vw;

  &.active {
    transform: scale(1);
  }

}



